@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
#banner-one{
  background-color: rgb(110, 0, 0);
  height: 100vh;
}
#banner-two{
  height: 100vh;
  padding-top: 15vh;
  text-align: center;
}
.banner-title-white{
  font-family: 'Abril Fatface', cursive;
  color: white;
  font-size: 15vh;
  text-align: center;
  /* width: 100%; */
  position: relative;
  top: 35vh;
}
.banner-title-black{
  font-family: 'Abril Fatface', cursive;
  font-size: 8vh;
  text-align: center;
}
p{
  padding: 15px;
  text-align: justify;
}
.vertical-padding{
  padding-top: 100px;
}
.padding{
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 50px;
}
#footer{
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
}
#header{
  padding: 10px;
}
.brand-name{
  font-size: 40px;
}
a{
  font-size:20px;
  line-height: 3em;
  color: black;
  padding-right: 10px;
}
a:hover{
  text-decoration: none;
}
.btn{
  background-repeat: none;
  background-image: none;
}
@media only screen
  and (max-width: 480px){


}
